*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(90, 90, 90);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    align-items: center;
}

nav{
    display: flex;
    gap: 15px;

    a{
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        color: #C9CAD1;

        &.active{
            color: crimson;
        }
    }
}

.logo-cont{
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* background-color: blue; */

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}

.title{
    font-size: 57px;
    color: black;
}

article{
    display: flex;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-card{
    gap: 12px;
    height: 350px;
    width: 100%;

    div{
        width: 50%;
        justify-content: start;
        gap: 20px;
    }

    figure{
        width: 50%;
        height: 100%;
        overflow: hidden;
        border-radius: 12px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

.date{
    font-weight: 500;
    font-size: 12px;
}

.sub_title{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: black;
}

.desc{
    font-size: 14px;
}

.article_cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
gap: 24px;
}

.card{
    flex-direction: column;
    gap: 20px;

    div{
        display: flex;
        flex-direction: column;
    gap: 12px;
}

    figure{
        width: 100%;
        overflow: hidden;
aspect-ratio: 16/9;
border-radius: 12px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
}

}
