@media screen and (max-width: 767px){
    .hero-card{
        flex-direction: column;
        height: fit-content;

        figure{
            width: 100%;
        }
        div{
            width: 100%;
        }
    }

    .article_cont{
        grid-template-columns: repeat(1,100%);
    }
    main{
        width: 100%;
        padding: 0 20px;

        &.container{
            width: 100%;
            margin: 0 12px;
        }
    }

    .login_image{
        display: none;
    }

    .cont{
        width: 100%;
        padding: 16px;

        .content{
            align-items: start;

            form{
                width: 80%;

             .form-input{
                padding: 12px;
             }
            }
          
            /* background-color: red; */

            .inner_content{
                /* background: yellow; */
                width: 100%;
            }
        }
    }

}